@model List<Order>
@{
    ViewData["Title"] = "orders";
}
<div class="row orders-page">
    <div class="card card-solid">
        <div class="card-body p-1">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th class="d-table-cell d-sm-none d-md-none d-lg-none">Order</th>
                        <th class="d-none d-sm-table-cell">Order</th>
                        <th class="d-none d-sm-table-cell">User</th>
                        <th class="d-none d-sm-table-cell">Date</th>
                        <th class="d-none d-sm-table-cell">Total</th>
                        <th class="d-none d-sm-table-cell">Products</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="order-list">
                    @foreach (var item in Model)
                    {
                        <tr id="order-@item.Id" class="row-order">
                            <td class="p-0 pb-1 d-table-cell d-sm-none d-md-none d-lg-none">
                                <blockquote class="quote-secondary m-0">
                                    <strong>@item.Number</strong>
                                    <p>
                                        <div class="text-end" style="min-width:70px;">
                                            <a asp-action="DownloadInvoice" asp-controller="Order" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary"><i class="fas fa-download"></i> Invoice</a>
                                        </div>
                                    </p>
                                </blockquote>
                            </td>
                            <td class="d-none d-sm-table-cell"><strong>@item.Number</strong></td>
                            <td class="d-none d-sm-table-cell"><strong>@item.User.UserName</strong></td>
                            <td class="d-none d-sm-table-cell"><strong>@item.CreatedOn.ToString("MMM dd, yyyy HH:mm")</strong></td>
                            <td class="d-none d-sm-table-cell"><strong>@(item.Currency=="EUR"?"€":"$")@item.Total</strong></td>
                            <td class="d-none d-sm-table-cell">
                                @foreach (var product in item.OrderDetails)
                                {
                                    <span class="badge bg-primary">@product.Quantity</span> @(product.Product.ServiceName)
                                    <br />
                                }
                            </td>
                            <td>
                                <div class="text-end" style="min-width:70px;">
                                    <a asp-action="DownloadInvoice" asp-controller="Order" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary"><i class="fas fa-download"></i> Invoice</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>
@section Scripts{
}